@media (max-width: 768px) {
    .form {
        max-width: 90%;
        height: 100%;
    }
    .wrapper{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.form {
    border-right: 1px solid lightgray;
    width: 25vw;
    height: 100%;
    min-width: 400px;
    padding: 30px;
    padding-top: 200px;
    /*border-radius: 6px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    color: var(--mantine-color-text);
    font-family: Outfit, var(--mantine-font-family);
    font-weight: 500;
    text-align: center;
    margin-top: var(--mantine-spacing-md);
    margin-bottom: 50px;
}
